---
---

<div class="menu">
  <div id="menu-indicator" class="menu-indicator"></div>
  <button id="all-button" class="active">All</button>
  <button id="dark-button">Dark</button>
  <button id="light-button">Light</button>
</div>
