---
---

<div class="view-controls-wrapper">
  <div class="grid-controls">
    <div id="grid-indicator" class="grid-indicator"></div>
    <button id="grid-compact">Compact</button>
    <button id="grid-comfortable" class="active">Comfortable</button>
    <button id="grid-large">Large</button>
  </div>
  <div class="separator"></div>
  <div class="view-toggles">
    <button id="toggle-info" title="Show/Hide Names">Info</button>
    <button id="toggle-gap" title="Toggle Grid Gap" class="active">Gap</button>
  </div>
</div>


