---
---

<div class="grid-controls">
  <div id="grid-indicator" class="grid-indicator"></div>
  <button id="grid-compact">Compact</button>
  <button id="grid-comfortable" class="active">Comfortable</button>
  <button id="grid-large">Large</button>
</div>
